<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="wsnapp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.osgi.remote.wsn.ClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="wsn_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.osgi.remote.wsn.wsnapp"
            name="WSN Client">
         <property
               name="appName"
               value="WSN Client">
         </property>
      </product>
   </extension>

</plugin>
